{
	"env": {
		"node": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module",
		"ecmaFeatures": {
			"node": true,
			"spread": true
		}
	},
	"extends": "eslint:recommended",
	"rules": {
		"semi": ["error", "always"],
		"quotes": ["error", "double"],
		"no-empty-character-class": "off" // this rule has massive problems with the new s flag
	},

	"overrides": [
		{
			"files": [
				"tests/**/*.js"
			],
			"env": {
				"mocha": true
			}
		}
	]
}
