{
	"env": {
		"node": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module",
		"ecmaFeatures": {
			"node": true,
			"spread": true
		}
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint",
		"prettier"
	],
	"rules": {
		"semi": [
			"error",
			"always"
		],
		"quotes": [
			"error",
			"double"
		],
		"no-mixed-spaces-and-tabs": "off",
		"curly": ["error", "all"],
		// this plugin is literally all about regular expressions, so a few ESLint's rules get in the way
		"no-useless-escape": "off",
		"no-empty-character-class": "off", // this rule has massive problems with the new s flag
		"no-control-regex": "off"
	},
	"overrides": [
		{
			"files": [
				"tests/**"
			],
			"env": {
				"mocha": true
			}
		}
	]
}
